.main {
  background-image: url(../img/notebook.jpg);
  background-size: cover;
  background-position: center;
  font-family: 'Domine', serif;
}

.main-notes {
  width: 600px;
  margin: 0 auto;
  font-size: 15px;
  padding-top: 40px;
}

.main-notes-list {
  list-style-image: url(../img/list-icon.png);
  height: 100vh;
}

.main-notes li {
  padding-top: 20px;
  padding-left: 8px;
  text-align: justify;
  font-size: 18px;
}

#delete {
  margin-left: 35px;
}

li {
  transition: opacity 1.5s ease-in;
}

li button {
  display: none;
}

li:hover button {
  display: inline-block;
}

.changeOpacity {
  opacity: 0;
}