.addItemWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3E5D97;
  height: 25px;

}

.addItemInput {
  height: 75%;
  width: 230px;
  font-size: 16px;
}

.addItemBtn {
  height: 100%;
  width: 100px;
  border-radius: 2%;
  margin: 0 10px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.4s linear;
}

.addItemBtn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}