.about-dog-img {
  width: 199px;
  height: 199px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-right: 50px;
}

.about-dog-img--first {
  background-image: url(../img/akita2.jpg);
}

.about-dog-img--second {
  background-image: url(../img/akita3.jpg);
}

.about-dog-img--third {
  background-image: url(../img/akita4.jpg);
}

.about-dog {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}

.about-dog:last-of-type {
  margin-bottom: 0;
}

.about .container {
  flex-direction: column;
}

.about-dog-text {
  padding-top: 35px;
  padding-left: 25px;
  min-width: 30%;
}

.about h2 {
  color: black;
  font-weight: bold;
  padding-bottom: 30px;
  min-width: 10%;
}

.h1-dark {
  margin-bottom: 58px;
  color: #152D41;
  width: 100%;
}

@media (min-width: 320px) {
  .about-dog {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .about .container {
    align-items: center;
  }
  .h1-dark {
    float: none;
    text-align: center;
  }
  .about-dog:nth-of-type(even) {
    flex-direction: column;
    text-align: justify;
  }
}

@media (min-width: 1400px) {
  .about-dog:nth-of-type(even) {
    flex-direction: row-reverse;
    text-align: right;
  }
  .about-dog:nth-of-type(even) .about-dog-img {
    margin-right: 0;
    margin-left: 50px;
  }
  .about .container {
    flex-direction: column;
    align-items: left;
  }
  .about-dog {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .h1-dark {
    float: left;
    text-align: initial;
  }
}