.landing-page {
  height: calc(100vh + 50px);
  background-image: url(../img/akita.jpg);
  background-size: cover;
  background-position: center;
  padding: 0;
  width: 100%;
}

.landing-page-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
  color: white;
}

.landing-page-text {
  width: 60%;
  height: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.landing-page-text h1 {
  font-weight: bold;
}

.landing-page-btn {
  width: 160px;
  height: 40px;
  background: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border: 3px solid #FFFFFF;
  transition: 1s;
}

.landing-page-btn:hover {
  background-color: rgba(255, 255, 255, 0.774);
  color: black;
}

.landing-page-text h1, h2, button {
  margin: 0;
}

@media (min-width: 320px) {
  .landing-page-text {
    padding-left: 40px;
  }
  .landing-page-text h1, h2, button {
    margin: 10px 0;
  }
}