.btn {
  padding: 0px 10px;
  background-color: rgba(255, 255, 255, 0.185);
  font-size: 16px;
  margin-left: 10px;
}

.btn-success {
  color: rgb(0, 44, 4);
  background-color: rgba(0, 255, 115, 0.185);

}

.btn-danger {
  color: red;
  background-color: rgba(255, 0, 0, 0.185);
}