.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  font-family: 'Permanent Marker', cursive;
  background-color: #110925;
}
.header h1 {
  color: rgb(177, 190, 216);
  font-size: 50px;
  margin: 0 5%;
  white-space: nowrap;
}
.header i {
  font-size: 50px;
  color: rgb(62, 93, 151);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-spacing: 10px;
}