.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 50vw;
  height: 50vh;
  left: 25vw;
  top: 2-vh;
  border: 3px solid red;
  background-color: #3E5D97;
  text-align: center;
}

.buttonsWrapper {
  display: flex;
  margin-top: 10px;
}